{% set hasInheritableValues = hasInheritableValues|default(false) %}
{% set isInherited = isInherited|default(false) %}
{% set wrapperClass = wrapperClass|default('') %}
{% set wrapperId = wrapperId|default('') %}

<div class="inheritable-field {{ isInherited ? 'inherited-settings' : 'defined-settings' }}">
    <div class="{{ wrapperClass }}" id="{{ wrapperId }}">
        {% block fieldHeader %}
        {% endblock %}
        {% if hasInheritableValues %}
            <div class="inherited value-wrapper">
                {% block inheritedValues %}

                {% endblock %}
            </div>
        {% endif %}

        <div class="field-settings value-wrapper">
            {% block field %}

            {% endblock %}
        </div>

        {% import "_includes/forms" as forms %}

        {% if hasInheritableValues %}
            {{ forms.lightswitchField({
                instructions: "Inherit parent settings"|t("seomatic"),
                className: "toggleInherit",
                on: isInherited,
                warning: false,
            }) }}
        {% endif %}
    </div>
</div>
<hr/>
