{% set inheritedFrom = seomatic.helper.findInheritableBundle(parentBundles, "seoImageTransformMode", true) %}
{% set hasIneritableValues = inheritedFrom is not null %}

{% set additionalVars = {
    'isInherited': hasIneritableValues and metaBundleSettings.seoImageTransformMode is empty ,
    'hasInheritableValues': hasIneritableValues,
    'fieldLabel': "SEO Image Transform Mode"|t("seomatic"),
    'labelFor': 'metaBundleSettings-seoImageTransformMode',
    'wrapperClass': 'seomatic-imageSourceNotFromUrl',
} %}

{% embed "seomatic/settings/_includes/fields/_inheritableField.twig" with additionalVars %}
    {% macro transformModeField(field, imageCropModes, metaBundleSettings) %}
        <div class="instructions">
            <p>{{ "The transform mode to use for the SEO Image Transform."|t("seomatic") }}</p>
        </div>
        {% import "_includes/forms" as forms %}

        <div class="field" {% if field is defined and 'seoImageTransformMode' not in field.generalEnabledFields %}style="display: none;"{% endif %}>
            {% namespace "metaBundleSettings" %}
                {{ forms.selectField({
                    id: "seoImageTransformMode",
                    name: "seoImageTransformMode",
                    options: imageCropModes,
                    value: metaBundleSettings.seoImageTransformMode,
                    warning: false,
                    errors: metaBundleSettings.getErrors("seoImageTransformMode"),
                }) }}
            {% endnamespace %}
        </div>
    {% endmacro %}

    {% set imageCropModes = {
        "crop": "Crop"|t("seomatic"),
        "fit": "Fit"|t("seomatic"),
        "stretch": "Stretch"|t("seomatic"),
    } %}
    {% if pageContext == "field" %}
        {% set imageCropModes = { "": ""} | merge(imageCropModes) %}
    {% endif %}

    {% block inheritedValues %}
        {% if inheritedFrom is not null %}
            {{ _self.transformModeField(field, imageCropModes, inheritedFrom.metaBundleSettings) }}
        {% endif %}
    {% endblock %}

    {% block field %}
        {{ _self.transformModeField(field, imageCropModes, metaBundleSettings) }}
    {% endblock %}
{% endembed %}

