{% set inheritedFrom = seomatic.helper.findInheritableBundle(parentBundles, "seoImageTransform", true) %}
{% set hasIneritableValues = inheritedFrom is not null %}

{% set additionalVars = {
    'isInherited': hasIneritableValues and metaBundleSettings.seoImageTransform is empty ,
    'hasInheritableValues': hasIneritableValues,
    'fieldLabel': "Transform SEO Image"|t("seomatic"),
    'labelFor': 'metaBundleSettings-seoImageTransform',
    'wrapperClass': 'seomatic-imageSourceNotFromUrl',
} %}

{% embed "seomatic/settings/_includes/fields/_inheritableField.twig" with additionalVars %}
    {% macro transformField(field, metaBundleSettings) %}
        {% import "_includes/forms" as forms %}

        <div class="field" {% if field is not null and 'seoImageTransform' not in field.generalEnabledFields %}style="display: none;"{% endif %}>
            {% namespace "metaBundleSettings" %}
                {{ forms.lightswitchField({
                    id: "seoImageTransform",
                    name: "seoImageTransform",
                    instructions: "Whether the SEO image should be automatically transformed to an appropriate file format and aspect ratio."|t("seomatic"),
                    class: "",
                    on: metaBundleSettings.seoImageTransform,
                    warning: false,
                    errors: metaBundleSettings.getErrors("seoImageTransform"),
                }) }}
            {% endnamespace %}
        </div>
    {% endmacro %}

    {% block inheritedValues %}
        {% if inheritedFrom is not null %}
            {{ _self.transformField(field|default(null), inheritedFrom.metaBundleSettings) }}
        {% endif %}
    {% endblock %}

    {% block field %}
        {{ _self.transformField(field|default(null), metaBundleSettings) }}
    {% endblock %}
{% endembed %}

