includes:
    - %currentWorkingDirectory%/vendor/craftcms/phpstan/phpstan.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
    # Until the plugins are ported, exclude their integrations
        - src/integrations/campaign/behaviors/CampaignBehavior.php
        - src/integrations/feedme/SeoSettings.php
        - src/integrations/shopify/ProductType.php
        - src/seoelements/SeoCampaign.php
        - src/seoelements/SeoDigitalProduct.php
        - src/seoelements/SeoEvent.php
        - src/seoelements/SeoProduct.php
        - src/seoelements/SeoShopifyProduct.php
    ignoreErrors:
    # Until the plugins are ported, exclude their classes
        - '*craft\\commerce\\*'
        - '*craft\\feedme\\*'
        - '*nystudio107\\fastcgicachebust\\*'
        - '*benf\\neo\\*'
        - '*verbb\\supertable\\*'
        - '*verbb\\doxter\\*'
        - '*besteadfast\\preparsefield\\*'
        - '*Solspace\\Calendar\\*'
