{% import "_includes/forms" as forms %}

<div class="pane social-poster-pane">
    hello, world
    {% set metaDescription = craft.seomatic.getMetaTagByKey('description') %}
    {{ dump(metaDescription) }}
</div>
