# Set in accordance to your environment

DB_DSN="mysql:host=localhost;port=3306;dbname=testcraft"
DB_USER="homestead"
DB_PASSWORD="secret"
DB_SCHEMA=""
DB_TABLE_PREFIX=""
SECURITY_KEY="abcde12345"

DEFAULT_SITE_URL="https://test.craftcms.test/index.php"
