{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

<div class="field">
    <p class="warning">
        This section is unfinished in the SEOmatic for Craft 3 beta
    </p>
</div>

{% namespace "site" %}
    {{ forms.textField({
        label: "Site Name" |t("seomatic"),
        instructions: "The public name of the website; this is appened to the page title by default." |t("seomatic"),
        id: "siteName",
        name: "siteName",
        value: site.siteName,
        warning: false,
    }) }}
{% endnamespace %}

{% set entity = site.identity %}
{% namespace "site[identity]" %}
    {% include "seomatic/settings/site/_includes/entity-partial.twig" %}
{% endnamespace %}
