{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

{% namespace "site" %}
    <p>This space left unintentionally blank</p>
{% endnamespace %}
