{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

{% namespace "site" %}
    <h1>Tracking</h1>
    <p>This space left intentionally blank</p>
{% endnamespace %}
