{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

{% namespace "site" %}
    <div class="field">
        <p class="warning">
            This section is unfinished in the SEOmatic for Craft 3 beta
        </p>
    </div>
{% endnamespace %}
