<div class="field">
    <div class="heading">
        <div class="instructions">
            <p>
                {{ message |markdown|t("seomatic") |raw }}
            </p>
        </div>
    </div>
</div>