/**
 * components/seo-previews.css
 *
 * CSS styles for various SEO previews
 *
 */

a.googleDisplay {
    text-decoration: none;
}

a.googleDisplay:link {
    cursor: pointer;
    color: #1a0dab;
}

a.googleDisplay:visited {
    color: #609;
}

a.googleDisplay:hover {
    text-decoration: underline;
}

a.seo-card-wrapper-link {
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.1s;
    -webkit-transition-property: color;
    -webkit-transition-timing-function: ease-in-out;
    color: rgb(20, 24, 35);
    cursor: pointer;
    direction: ltr;
    display: inline;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: color;
    transition-timing-function: ease-in-out;
    width: auto;
    word-wrap: break-word;
}

h4.metadata-title-separator {
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.015em;
    color: #A3B3CA;
    position: relative;
    margin: 1.75em 0 1em;
}

h4.metadata-title-separator:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 100%;
    height: 1px;
    background: transparent;
}

h4.metadata-title-separator span {
    position: relative;
    background: #fff;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 5px;
}

.card-seo-google {
    position: relative;
    display: block;
    box-shadow: 0 1px 6px rgba(32,33,36,0.28);
    margin: 0 -10px;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased
}

@media only screen and (min-width: 770px) {
    .card-seo-google {
        width: 524px;
        box-shadow: none;
        margin: 0;
        padding: 0
    }
}

.card-seo-google__title {
    display: block;
    letter-spacing: normal;
    color: #1a0dab;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media only screen and (min-width: 770px) {
    .card-seo-google__title {
        font-size:18px;
        line-height: 1.2
    }
}

.card-seo-google__title:hover {
    text-decoration: underline
}

.card-seo-google__url {
    display: block;
    height: 17px;
    white-space: nowrap;
    border-bottom: 1px solid #ddd;
    padding-bottom: 22px;
    margin-bottom: 6px
}

@media only screen and (min-width: 770px) {
    .card-seo-google__url {
        border:none;
        padding: 0;
        margin: 0
    }
}

.card-seo-google__url-title {
    position: relative;
    top: -2px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: normal;
    color: #006621
}

.card-seo-google__url-arrow {
    display: none;
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 3px;
    border-width: 5px 4px 0 4px;
    border-style: solid;
    border-color: #006621 transparent
}

@media only screen and (min-width: 770px) {
    .card-seo-google__url-arrow {
        display:inline-block
    }
}

.card-seo-google__description {
    color: #545454;
    font-size: 13px;
    line-height: 1.4;
    word-wrap: break-word
}

.card-seo-google__date {
    color: #808080
}

.card-seo-facebook {
    cursor: pointer;
    position: relative;
    display: block;
    background-color: #ffffff;
    margin: 0 -20px;
    overflow: hidden;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out
}

@media only screen and (min-width: 770px) {
    .card-seo-facebook {
        margin:0;
        width: 500px
    }
}

.card-seo-facebook__image {
    height: 180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid #dadde1;
    border-bottom: 1px solid #dadde1
}

@media only screen and (min-width: 770px) {
    .card-seo-facebook__image {
        border:1px solid #dadde1;
        width: 500px;
        height: 261px
    }
}

.card-seo-facebook__content {
    border-collapse: separate;
    color: #4b4f56;
    direction: ltr;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 46px;
    line-height: 14.4px;
    max-height: 46px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    user-select: none;
    word-wrap: break-word;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-font-smoothing: antialiased
}

.card-seo-facebook__text {
    padding: 10px 12px;
    color: #1d2129;
    border-bottom: 1px solid #dadde1;
    background: #f2f3f5
}

@media only screen and (min-width: 770px) {
    .card-seo-facebook__text {
        border:1px solid #dadde1;
        border-top: none
    }
}

.card-seo-facebook__title {
    margin-top: 5px;
    border-collapse: separate;
    color: #1d2129;
    cursor: pointer;
    direction: ltr;
    display: inline;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: auto;
    letter-spacing: normal;
    line-height: 18px;
    text-align: left;
    text-decoration-color: #1d2129;
    text-decoration-line: none;
    text-decoration-style: solid;
    transition-delay: 0s;
    transition-duration: 0.1s;
    transition-property: color;
    transition-timing-function: ease-in-out;
    user-select: none;
    white-space: normal;
    width: auto;
    word-wrap: break-word;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-font-smoothing: antialiased
}

@media only screen and (min-width: 770px) {
    .card-seo-facebook__title {
        font-size:16px;
        line-height: 20px
    }
}

.card-seo-facebook__description {
    border-collapse: separate;
    color: #606770;
    direction: ltr;
    display: -webkit-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 18px;
    line-height: 20px;
    margin-top: 3px;
    max-height: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-overflow: ellipsis;
    user-select: none;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-box-orient: vertical;
    -webkit-font-smoothing: antialiased;
    -webkit-line-clamp: 1
}

.card-seo-facebook__link {
    border-collapse: separate;
    color: #606770;
    direction: ltr;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 12px;
    line-height: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-overflow: ellipsis;
    text-transform: uppercase;
    user-select: none;
    white-space: nowrap;
    width: 501px;
    word-wrap: break-word;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-font-smoothing: antialiased
}

.card-seo-twitter {
    cursor: pointer;
    position: relative;
    display: block;
    background-color: #ffffff;
    border-radius: 14px;
    border-style: solid;
    border-color: #E1E8ED;
    border-width: 1px;
    margin-left: 44px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out
}

.card-seo-twitter:before {
    content: '';
    position: absolute;
    top: 0;
    left: -48px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #EBF1FA
}

@media only screen and (min-width: 770px) {
    .card-seo-twitter {
        width:506px;
        border-radius: 0.42857em;
        margin-left: 0;
        overflow: hidden
    }

    .card-seo-twitter:before {
        display: none
    }
}

@media only screen and (min-width: 770px) {
    .card-seo-twitter:hover {
        background-color:#F5F8FA;
        border-color: rgba(136,153,166,0.5)
    }
}

.card-seo-twitter__image {
    height: 150px;
    background-size: cover;
    background-color: #E1E8ED;
    background-repeat: no-repeat;
    background-position: center;
    border-style: solid;
    border-color: #e1e8ed;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    overflow: hidden
}

@media only screen and (min-width: 770px) {
    .card-seo-twitter__image {
        width:506px;
        height: 252px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden
    }
}

.card-seo-twitter__image-summary {
    width: 123px;
    height: 123px;
    float: left;
}

@media only screen and (min-width: 770px) {
    .card-seo-twitter__image-summary {
        width: 123px;
        height: 123px;
        float: left;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        overflow: hidden
    }
}

.card-seo-twitter__text {
    padding: 9px;
}

@media only screen and (min-width: 770px) {
    .card-seo-twitter__text {
        padding:0.75em 1em;
    }
}

.card-seo-twitter__text-summary {
    padding: 9px;
    float: left;
}

@media only screen and (min-width: 770px) {
    .card-seo-twitter__text-summary {
        padding: 0.75em 1em;
        width: 350px;
        float: left;
    }
}

.card-seo-twitter__title {
    display: block;
    margin: 0 0 0.15em;
    font-size: 14px;
    line-height: 18.375px;
    letter-spacing: normal;
    overflow: hidden
}

@media only screen and (min-width: 770px) {
    .card-seo-twitter__title {
        white-space:nowrap;
        text-overflow: ellipsis;
        font-size: 1em;
        font-weight: bold;
        line-height: 1.3em;
        max-height: 1.3em
    }
}

.card-seo-twitter__description {
    display: none;
    height: 2.6em;
    max-height: 2.6em;
    margin-top: 0.32333em;
    line-height: 1.3em;
    letter-spacing: normal;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis
}

@media only screen and (min-width: 770px) {
    .card-seo-twitter__description {
        display:block;
        display: -webkit-box
    }
}

.card-seo-twitter__description-summary {
    height: 3.9em;
    max-height: 3.9em;
}

@media only screen and (min-width: 770px) {
    .card-seo-twitter__description-summary {
    }
}

.card-seo-twitter__link {
    display: block;
    color: #657786;
    text-transform: lowercase;
    line-height: 1.3125;
    letter-spacing: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

@media only screen and (min-width: 770px) {
    .card-seo-twitter__link {
        margin-top:0.32333em;
        color: #8899A6
    }
}

.card-seo-linkedin {
    cursor: pointer;
    position: relative;
    display: block;
    background-color: transparent;
    overflow: hidden;
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out
}

@media only screen and (min-width: 770px) {
    .card-seo-linkedin {
        width:552px
    }
}

.card-seo-linkedin__image {
    height: 268px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #dadde1
}

@media only screen and (min-width: 770px) {
    .card-seo-linkedin__image {
        width:506px
    }
}

.card-seo-linkedin__text {
    padding: 8px 16px;
    color: #1d2129;
    border: 1px solid #e6e9ec;
    border-top: none;
    background: #f3f6f8;
    display: flex;
    flex-grow: 1
}

.card-seo-linkedin__title {
    display: block;
    direction: ltr;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgba(0,0,0,0.9);
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 40px
}

.card-seo-linkedin__description {
    border-collapse: separate;
    color: #606770;
    direction: ltr;
    display: -webkit-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    height: 18px;
    line-height: 20px;
    margin-top: 3px;
    max-height: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: left;
    text-overflow: ellipsis;
    user-select: none;
    white-space: normal;
    word-break: break-word;
    word-wrap: break-word;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-box-orient: vertical;
    -webkit-font-smoothing: antialiased;
    -webkit-line-clamp: 1
}

.card-seo-linkedin__link {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 16px
}

.card-seo-pinterest {
    color: #211922;
    width: 236px;
    column-rule-color: #211922;
    perspective-origin: 130px 166px;
    transform-origin: 130px 166px;
    caret-color: #211922;
    cursor: zoom-in;
    border: 0px none #211922;
    font: normal normal 400 normal 12px / normal "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", arial, sans-serif;
    outline: #211922 none 0px;
    transition: transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s
}

.card-seo-pinterest__image {
    position: relative;
    width: 236px;
    height: 123px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    overflow: hidden
}

@media only screen and (min-width: 770px) {
    .card-seo-pinterest__image {
    }
}

.card-seo-pinterest__image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.05)
}

.pinterest-image {
    max-width: 100%
}

.card-seo-pinterest__content {
    display: flex;
    padding: 4px 8px
}

.card-seo-pinterest__title {
    color: #333333;
    letter-spacing: -0.4px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid #333333;
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: #333333;
    hyphens: auto;
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: #333333;
    border: 0px none #333333;
    font: normal normal 700 normal 14px / 16.8px -apple-system, system-ui, "Segoe UI", "Roboto Oxygen-Sans", Ubuntu, Cantarell, "“Fira Sans”", "“Droid Sans”", "Helvetica Neue", Helvetica, "\\30D2ラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", "\\30E1イリオ", Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif;
    outline: #333333 none 0px
}

.card-seo-pinterest__dots {
    display: flex;
    margin-top: 6px
}

.card-seo-pinterest__dot {
    width: 3px;
    height: 3px;
    border-radius: 1.5px;
    background: #8e8e8e;
    margin-left: 2px
}

.card-seo-slack {
    display: flex;
    font-family: 'Noto Sans', 'NotoSansJP','Slack-Lato', 'Lato','appleLogo', sans-serif;
    font-size: 15px;
    line-height: 1.46666667;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

.card-seo-slack__bar {
    flex-shrink: 0;
    width: 4px;
    background-color: #e8e8e8;
    border-radius: 8px
}

.card-seo-slack__content {
    padding: 0 12px;
    max-width: 520px
}

.card-seo-slack__favicon {
    border-radius: 2px;
    box-sizing: content-box;
    height: 16px;
    margin-right: 6px;
    overflow: hidden;
    vertical-align: middle;
    width: 16px
}

.card-seo-slack__link {
    color: #717274;
    flex: 1;
    overflow: hidden;
    word-wrap: break-word
}

.card-seo-slack__title {
    color: #0576b9;
    font-weight: 700;
    font-variant-ligatures: common-ligatures
}

.card-seo-slack__description {
    color: #2c2d30
}

.card-seo-slack__image {
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    margin-top: 5px;
    max-width: 360px;
    height: 189px;
    background-size: cover;
    background-position: 50%
}

.card-seo-slack__image-summary {
    float: right;
    width: 80px;
    height: auto;
    min-height: 42px;
    max-height: 80px;
    margin: 4px;
    margin-bottom: 20px;
}

.card-seo-discord {
    display: flex;
    font-family: 'Whitney', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 15px;
    line-height: 1.46666667;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility
}

.card-seo-discord__bar {
    flex-shrink: 0;
    width: 4px;
    background-color: #e8e8e8;
    border-radius: 8px
}

.card-seo-discord__content {
    padding: 0 12px;
    max-width: 520px
}

.card-seo-discord__link {
    color: #717274;
    flex: 1;
    overflow: hidden;
    word-wrap: break-word
}

.card-seo-discord__title {
    color: #0576b9;
    font-weight: 700;
    font-variant-ligatures: common-ligatures
}

.card-seo-discord__description {
    color: #2c2d30
}

.card-seo-discord__image {
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    margin-top: 5px;
    max-width: 360px;
    height: 189px;
    background-size: cover;
    background-position: 50%
}

.card-seo-discord__image-summary {
    float: right;
    width: 80px;
    height: auto;
    min-height: 42px;
    max-height: 80px;
    margin: 4px;
    margin-bottom: 20px;
}
