/**
 * components/tree-select.css
 *
 * Vue-Treeselect styles
 *
 */

div.vue-treeselect:focus-within {
    box-shadow: var(--focus-ring);
    border-radius: 4px;
}

.reduce-focus-visibility .vue-treeselect__input-container > input:focus-visible {
    box-shadow: none !important;
}

div.vue-treeselect__multi-value-item {
    background-color: #e4edf6;
    color: #3f4d5a;
}

span.vue-treeselect__value-remove {
    background-color: #e4edf6;
    color: #3f4d5a;
}
