<div class="field" style="margin: 0;">
    <p class="notice">
        Environment: <strong>{{ seomatic.getEnvironment() }}</strong>
        <span class="info">
            {{ ("The SEOmatic environment, either `live`, `staging`, or `local`. This setting controls whether certain things render, and is configured in [Plugin Settings](" ~ cpUrl('seomatic/plugin') ~ ").<br><br>Only in the `live` production environment will Google Analytics and other tracking tags send analytics data.<br><br> SEOmatic also automatically sets the `robots` tag to `none` for everything but the `live` production environment.") | md | striptags('<code><br><a>') | raw }}
        </span>
    </p>
</div>
{% set message = seomatic.getEnvironmentMessage() %}
{% if  message | length %}
    <div class="field">
        <p class="warning">{{ message | md | striptags('<code><br><a>') | raw }}</p>
    </div>
{% endif %}
