{% from "seomatic/settings/_includes/macros.twig" import configWarning %}
{% import "_includes/forms" as forms %}

<div class="field seomatic-imageSourceWrapper" id="metaBundleSettings-seoImageSource-field">
    {############### SEO Image ###############}

    {% include "seomatic/settings/_includes/fields/_seoImage.twig" %}

    {############### SEO Image Transform ###############}

    {% include "seomatic/settings/_includes/fields/_seoImageTransform.twig" %}

    {############### SEO Image Transform Mode ###############}

    {% include "seomatic/settings/_includes/fields/_seoImageTransformMode.twig" %}

</div>
