<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet version="2.0"
                xmlns:html="http://www.w3.org/TR/REC-html40"
                xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
                xmlns:sitemap="http://www.sitemaps.org/schemas/sitemap/0.9"
                xmlns:xsl="http://www.w3.org/1999/XSL/Transform">
    <xsl:output method="html" version="1.0" encoding="UTF-8" indent="yes"/>
    <xsl:template match="/">
        <html xmlns="http://www.w3.org/1999/xhtml">
            <head>
                <title>XML Sitemap</title>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                <style type="text/css">
                    body {
                        font-family: sans-serif;
                        font-size: 16px;
                        color: #242628;
                    }
                    a {
                        color: #000;
                    }

                    #content {
                        margin: 0 auto;
                        padding: 2% 5%;
                        max-width: 800px;
                    }

                    .desc {
                        margin: 18px 3px;
                        line-height: 1.2em;
                    }
                </style>
            </head>
            <body>
                <div id="content">
                    <h1>XML Sitemap</h1>
                    <h2>This sitemap has not been generated yet.</h2>
                    <p class="desc">
                        SEOmatic <a href="https://nystudio107.com/docs/seomatic/Configuring.html#sitemap" target="_blank">generates sitemaps</a> via queue jobs, to allow for the creation of large sitemaps. Once generated, they are then cached.
                    </p>
                    <p class="desc">
                         If you are seeing this in local dev or an environment with <code>devMode</code> on, caches only last for 30 seconds, so it is normal for the sitemap to not be cached.
                    </p>
                    <footer>
                        <p class="desc">
                        </p>
                    </footer>
                </div>
            </body>
        </html>

    </xsl:template>
</xsl:stylesheet>
